<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Page</title>
  </head>
  <body>
    <h1>Add New User</h1>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Name ?" />
      <input type="text" name="country" placeholder="Country ?" />
      <input type="text" name="mobile" placeholder="Mobile ?" />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
